.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aqua;
  // justify-content: center;
}

.lable {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: aqua;
}
