.container {
  width: 800px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  background-color: rgb(230, 126, 161);
}

.title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  color: rgb(1, 71, 71);
}
