.button {
  padding: 4px 4px 4px 4px;
  // margin-top: 10px;

  width: 50px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(235, 101, 101);
  border: 2px solid rgb(90, 230, 78);
  box-shadow: 0px 0px 2px 2px rgb(148, 139, 145);
  font-weight: 400;
  color: rgb(13, 61, 61);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.item {
  width: 400px;
  padding: 6px 6px 6px 6px;
  margin-top: 6px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(90, 230, 78);
  box-shadow: 0px 0px 2px 2px rgb(143, 241, 241);
  border-radius: 5px;
  background-color: rgb(195, 248, 248);
}

.title {
  font-size: 12px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(112, 112, 112);
}
